<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.pixel.floppybird" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Floppy Birb</name>
    <description>
        Flappy Bird by Nebez, ported by PixelAgent007
    </description>
    <author email="oskar@atisvirtual.de">
        Oskar Manhart
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="assets/icon.png" />
    </platform>
</widget>
